<div class="group-container container">
  <div class="heading">
    <h1><strong>There are <%= @groups.count %> groups near you</strong></h1>
  </div>
  <select class="dropdown btn" name="location" id="location">
    <option disabled selected value="location">Location</option>
    <option value="new-york">New York</option>
    <option value="paris">Paris</option>
    <option value="tokyo">Tokyo</option>
    <option value="london">London</option>
    <option value="dublin">Dublin</option>
    <option value="sydney">Sydney</option>
    <option value="Any-location">Any location</option>
  </select>
  <select class="dropdown btn" name="category" id="category">
    <option disabled selected value="category">Category</option>
    <option value="sport-fitness">Sport & Fitness</option>
    <option value="movies">Films</option>
    <option value="technology">Technology</option>
    <option value="pets-animals">Pets & Animals</option>
    <option value="music">Music</option>
    <option value="art-culture">Art & Culture</option>
    <option value="any-category">Any category</option>
  </select>
  <%= submit_tag "Search", class: "submit btn" %><hr class="style-divider">
  <div class="group-cards-container">
  <% @groups.each do |group| %>
    <div class="group-card">
      <img class="group-img-index" src=<%= group.image_url %> alt="">
      <div class="group-card-info">
        <h3><strong><%= link_to group.name, group_path(group), class: "group-name" %></strong></h3>
        <h4 class="group-text"><%= group.location %></h4>
        <h4 class="group-text"><strong><%= group.category %></strong></h4>
        <p class="group-text-about"><%= group.about %></p>
      </div>
    </div>
      <hr class="style-divider">
    <% end %>
  </div>

</div>
