<div class="container group-show-content row d-flex">
  <div class="group-show-btn-row row">
    <div class="col-12 col-sm-2 .group-show-btn">
      <%= link_to "Back to groups", groups_path, class: "btn group-show-btn-content btn-sm btn-block" %>
      <%= simple_form_for [@group, @user_group] do |f| %>
        <%= f.button :submit %>
      <% end %>
      <%= current_user.id %>
      <%# <a href="" class="btn group-show-btn-content btn-sm btn-block">Events group</a> %>
    </div>

    <img class="col-12 col-sm-4" src=<%= @group.image_url %> alt="">

    <div class="col-12 col-sm-4 text-center group-show-img-content">
      <h3><strong><%= link_to @group.name, group_path(@group), class: "group-name" %></strong></h3>
      <p class="group-text-about"><%= @group.about %></p>
    </div>

    <h2 class="col-12 col-sm-2 text-center border">Map</h2>
  </div>

  <hr class="style-divider-2">

  <div class="group-discussion-member-row row">
    <div class="col-12 col-sm-10 text-center border-none">
      <div class="discussion-card">
        <% @group.posts.each do |post| %>
        <div class="discussion-card-title">
          <div class="card-title-item ">
            <%= image_tag post.user.avatar_url, class:"avatar" %>
          </div>
          <div class="card-title-item">
            <p class="text-xl-left fw-bold"> <%= post.user.nickname %> </p>
          </div>
          <div class="card-title-item">
            <p class="text-xl-left"> <%= post.created_at %></p>
          </div>
        </div>
          <div class="discussion-card-content">
            <p class="text-md-left"> <%= post.content %></p>
          </div>
        <% end %>
        <div class="form-card">
        <h4>Post Your Comments</h4>
          <%= simple_form_for([@group, @post]) do |f| %>
            <%= f.input :content, label: false, wrapper_html: { class: "nice-class" }%>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2 border">
    <h3>Members</h3>
    <%# <h3><strong>There are <%= user_id.count %><%# members in this group</strong></h3> %> <%# %>
      <%@group.user_groups.map do |user_group| %>
        <%= image_tag user_group.user.avatar_url, class: "group-show-avatar" %>
      <% end %>
    </div>
  </div>
</div>
