<div class="container group-show-content row d-flex">
  <div class="row">
    <div class="col-12 col-sm-2 .group-show-btn">
      <%= link_to "Back to groups", groups_path, class: "btn group-show-btn-content btn-sm btn-block" %>
      <a href="" class="btn group-show-btn-content btn-sm btn-block">Join this group</a>
      <a href="" class="btn group-show-btn-content btn-sm btn-block">Events group</a>
    </div>

    <img class="col-12 col-sm-4" src=<%= @group.image_url %> alt="">

    <div class="col-12 col-sm-4 text-center group-show-img-content">
      <h3><strong><%= link_to @group.name, group_path(@group), class: "group-name" %></strong></h3>
      <p class="group-text-about"><%= @group.about %></p>
    </div>

    <h2 class="col-12 col-sm-2 text-center border">Map</h2>
  </div>

  <hr class="style-divider-2">

  <div class="row">

    <div class="col-12 col-sm-10 text-center border">
      <h2>Discussion</h2>
      <% @group.posts.each do |post| %>
        <%= post.user.nickname %>
        <%= post.content %>
      <% end %>
      <%= simple_form_for([@group, @post]) do |f| %>
        <%= f.input :title %>
        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
    </div>

    <div class="col-12 col-sm-2 border">
    <h3>Members</h3>
      <%@group.user_groups.map do |user_group| %>
        <%= image_tag user_group.user.avatar_url, class: "group-show-avatar" %>
      <% end %>
    </div>

  </div>
</div>
