<div class="user-index-container container">
  <div class="user-index-card-header text-center">
    <h2 >
    Want to find someone to talk to?
    <br>
    Find a friend nearby
    </h2>
    <p class="fw-light mb-5" >
    "We support you through the journey of getting to know your new friends, and recommend great groups for you to join together"
    <p>
  </div>
  <div class="user-index-cards-body-wrapper row justify-content-center">
    <div class="col-sm-8">
      <h2>Search for a friend</h2>
      <%= form_tag(users_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :location, params[:location], placeholder: "Location", class: 'form-control me-3' %>
        <%= select_tag :min_age, options_for_select(18..65), prompt: 'Preferred min age', class: 'dropdown btn' %>
        <%= select_tag :max_age, options_for_select(18..65), prompt: 'Preferred max age', class: 'dropdown btn' %>
        <%= select_tag :gender, options_for_select(["Male", "Female"], params[:gender]), prompt: 'Preferred gender', class: 'dropdown btn' %>
        <%= submit_tag "Search", class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class="user-index-card row g-3">
      <% @users.each do |user| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <%= link_to user_path(user), class: "text-decoration-none text-dark" do %>
            <div class="user-index-cards ">
              <div class="user-index-indiv-card" style="background-color :white">
                <div class="user-index-indiv-card-title">
                  <%= image_tag user.avatar_url, class:"avatar-large" %>
                  <p class="text-xl-left text-uppercase fw-bold"> <%= user.nickname %> </p>
                </div>
                <div class="user-index-indiv-card-text">
                  <p class="text-md-left"><strong>Age:</strong> <%= user.age %></p>
                  <p class="text-md-left"><strong>Gender:</strong> <%= user.gender %></p>
                  <p class="text-md-left"><strong>Location:</strong> <%= user.location %></p>
                </div>
                <div class="user-index-indiv-card-text">
                  <p class="text-md-left"> <%= user.about %></p>
                </div>
                 <%= button_to "View Profile", user_path(user), :method => "get", class: "btn" %>
              </div>
              <div class="user-index-card-icons">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
