<div class="user-index-container">
  <div class="user-index-cards-header">
    <h2 class="user-index-cards-header-h2 ">Want to find someone to talk to? <br> Find a friend nearby </h2>
    <p class="user-index-cards-header-p">"We support you through the journey of getting to know your new friends, and recommend great groups for you to join together" </p>
  </div>
  <div class="user-index-cards-body-wrapper d-flex row justify-content-center">
    <div class="user-index-cards-search-body">
      <h2 class="user-index-cards-search-body-h2">Search for a friend</h2>
      <%= form_tag(users_path, :method => "get", id: "user-search-form") do %>
        <%= select_tag :location, options_for_select(["London", "Bristol", "Manchester", "Liverpool", "Cambridge", "Canterbury", "Birmingham", "Brighton", "Bath", "Reading" ],
        params[:location]), prompt: 'Location', class: 'dropdown btn' %>
        <%= select_tag :min_age, options_for_select(18..65), prompt: 'Min age', class: 'dropdown btn' %>
        <%= select_tag :max_age, options_for_select(18..65), prompt: 'Max age', class: 'dropdown btn' %>
        <%= select_tag :gender, options_for_select(["Male", "Female"], params[:gender]), prompt: 'Preferred gender', class: 'dropdown btn' %>
        <%= submit_tag "Search", class: 'btn btn-info' %>
      <% end %>
    </div>
    <div class="user-index-card row g-3">
      <% @users.each do |user| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <%= link_to user_path(user), class: "text-decoration-none text-dark" do %>
            <div class="user-index-cards ">
              <div class="user-index-indiv-card" style="background-color :white">
              <div class="user-index-indiv-card-top">
                <div class="user-index-indiv-card-avatar">
                  <%= image_tag user.avatar_url, class:"avatar-large" %>
                  <div class="user-index-card-icons">
                  <i class="fab fa-instagram"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook"></i>
                  </div>
                </div>
                <div class="user-index-indiv-card-profile">
                  <h3 class="user-index-indiv-card-profile-name"> <strong><%= user.nickname %></strong></h3>
                  <p class="user-index-indiv-card-profile-age"><strong>Age:</strong> <%= user.age %></p>
                  <p class="user-index-indiv-card-profile-gender"><strong>Gender:</strong> <%= user.gender %></p>
                  <p class="user-index-indiv-card-profile-location"><strong>Location:</strong> <%= user.location %></p>
                  <p class="text-md-left"> <%= user.about %></p>
                  <%= button_to "View Profile", user_path(user), :method => "get", class: "btn" %>
                </div>
               </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
