<div class="user-container">
  <div class="user-index-cards-header">
    <h2 class="user-index-cards-header-h2">
      Start bonding with new people<br>in your area!
    </h2>
  </div>
  <div class="user-index-cards-body-wrapper d-flex row justify-content-center">
    <div class="user-index-cards-search-body">
    <div class="user-index-steps">
      <i class="fa-solid fa-circle-arrow-right"></i>
      <p id="step-1">Filter by location, age, gender</p>
      <i class="fa-solid fa-circle-arrow-right"></i>
      <p id="step-2">Select your bond</p>
      <i class="fa-solid fa-circle-arrow-right"></i>
      <p id="step-3">Send them a message!</p>
      </p>
    </div>
      <%= form_tag(users_path, :method => "get", id: "user-search-form") do %>
        <%= select_tag :location, options_for_select(["London", "Bristol", "Manchester", "Liverpool", "Cambridge", "Canterbury", "Birmingham", "Brighton", "Bath", "Reading" ],
        params[:location]), prompt: 'Location', class: 'dropdown btn ' %>
        <%= select_tag :min_age, options_for_select(18..65, params[:min_age]), prompt: 'Min age', class: 'dropdown btn' %>
        <%= select_tag :max_age, options_for_select(18..65, params[:max_age]), prompt: 'Max age', class: 'dropdown btn' %>
        <%= select_tag :gender, options_for_select(["Male", "Female"], params[:gender]), prompt: 'Gender', class: 'dropdown btn' %>
        <%= submit_tag "Search", class: 'index-search-btn btn-info' %>
      <% end %>
    </div>
    <div class="user-index-card row g-3">
      <% @users.each do |user| %>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="user-index-cards ">
              <div class="user-index-indiv-card">
              <div class="user-index-indiv-card-top">
                <div class="user-index-indiv-card-avatar">
                  <%# <% if user.photo.attached?  %>
                    <%# <%= cl_image_tag user.photo.key, height: 300, width: 400, crop: :fill, class:"avatar-large" %>
                  <%# <% else  %>
                  <%= image_tag user.avatar_url, class:"avatar-large" %>
                  <%# <% end %>
                </div>
                <div class="user-index-indiv-card-profile">
                  <h3 class="user-index-indiv-card-profile-name"> <strong><%= user.first_name %> <%= user.last_name %> </strong></h3>

                <div class="user-index-profile-info">
                  <p>
                    <i class="fa-solid fa-cake-candles"></i>
                    <%= user.age %>
                  </p>

                  <p>
                    <i class="fa-solid fa-venus-mars"></i>
                    <%= user.gender %>
                  </p>

                  <p>
                    <i class="fa-solid fa-location-dot"></i>
                    <%= user.location %>
                  </p>
                </div>
                  <p class="text-md-left"> <%= user.about %></p>
                  <%= button_to "View Profile", user_path(user), :method => "get", class: "view-profile-btn" %>
                </div>
               </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
