<div class="container" >
  <div class="card-header text-center">
    <h2 class="card-title fw-bold "> 
    Find a friend nearby
    </h2>
    <p class="fw-light">
    "We support you through the journey of getting to know your new friends, and recommend great groups for you to join together"
    <p>
  </div>
  <%= render 'shared/search' %>
  <div class="row g-3">
    <% @users.each do |user| %>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <%= link_to user_path(user), class: "text-decoration-none text-dark" do %>
          <div class="card">
            <div class="card-user" style="background-color :white">
              <div class="card-title">
                <img class="avatar-large" <%= image_tag user.avatar_url %>
              <p class="text-xl-left text-uppercase fw-bold"> <%= user.nickname %> </p>
              </div>
              <div class="card-text">
                <p class="text-md-left">Age <%= user.age %>, Based in <strong> <%= user.location %> </strong></p>
              </div>
              <div class="card-text">
                <p class="text-md-left"> <%= user.about %></p>
              </div>
              <div class="card-text fw-bold">
                <p>Join her/his <a href = "#"> Group</a></p>
              </div>
              <a href="#" class="btn"> View Profile</a>
            </div>
          <div class="icons">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
