<div class="user-profile-container container">
  <div class="content">
    <div class="user-profile">
      <div class="user-profile card">
        <img src="<%= @user.avatar_url %>" alt="John">
        <h3 id="first-name"><%= @user.first_name %> <%= @user.last_name %></h3>
        <div class="user-info">
          <p><%= @user.gender %></p>
          <p><%= @user.age %></p>
          <p><%= @user.location %></p>
        </div>
        <div class="user-bio">
          <p class="user-show-about"><%= @user.about %></p>
          <%# <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus eum quae dignissimos repellat eius repudiandae minima consectetur dolor natus reiciendis alias doloremque ex saepe ipsa dolores, animi labore laboriosam voluptatum.</p> %>
        </div>
        <% if @user.id != current_user.id %>
          <%= button_to "Chat", chatroom_path(@chatroom_data), :method => "get", class: "chat-btn" %>
        <% end %>
        <div class="user-socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div>
          <%= button_to "Back to all users", users_path, :method => "get", class: "btn m-10" %>
        </div>
      </div>
    </div>
    <div class="user-other" style="width: 100%; height: 300px;">
      <div>
        <%# <h2>Map</h2> %>
      <div class= "user-show-map" style="width: 100%; height: 300px;"
       data-controller="map"
       data-map-markers-value="<%= @markers.to_json %>"
       data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <div>
        <h2 class="h2-groups">Groups</h2>
      </div>
    </div>
  </div>
</div>

<%# position image top of card div %>
<%# need to stop image overflowing when long bio added %>
