<div class="proposition">
  <div>
    <img src="https://fontmeme.com/permalink/220823/f9a4af9b09e0d2e134f6732fa04f98ec.png" alt="">
  </div>
  <div class="wrapper">
    <div class="typing-text">
      With Bonded, you can join communities and connect with new friends nearby!
    </div>
  </div>
</div>

<div id="about-us-div">
  <p id="about-us" class="about-bonded">Bonded provides access to a community who are there to listen, share information and offer valuable advice.</p>
  <div id="our-values">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Community</p>
      <i class="fa-solid fa-people-group"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Authenticity</p>
      <i class="fa-regular fa-handshake"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Empathy</p>
      <i class="fa-solid fa-hand-holding-heart"></i>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <p>Loyalty</p>
      <i class="fa-solid fa-hands-holding-circle"></i>
    </div>
  </div>
</div>

<div class="choose-your-bond">
  <h2 id="action-heading" style="text-align: center"><strong>Choose your bond</strong></h2>
  <div class="options">
    <div>
    <%= button_to "Meet a friend", users_path, :method => "get", class: "bond-btn button-neon" %>
      <p class="btn-desc">Discover and chat with new people nearby<br>who share similar interests.</p>
    </div>
    <div>
      <%= button_to "Join a group", groups_path, :method => "get", class: "bond-btn button-neon" %>
      <p class="btn-desc">
        <span>Join groups and find communities<br>with common interests.</span>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="explore-popular-groups">
      <h2><strong>Explore popular groups</strong></h2>
      <div class="group-cards-flexbox">
        <% @groups.each do |group| %>
          <div>
            <%= link_to group_path(group), class: "text-decoration-none text-dark" do %>
              <div>
                <img class="group-img-index-home" src=<%= group.image_url %> alt="">
                <div class="group-card-info-home">
                  <div><strong><%= link_to group.name, group_path(group), class: "group-name" %></strong></div>
                  <div class="card-text fw-bold"><span class="location-colour"><%= group.location %></span></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
        <%#= render 'shared/groupcards', groups: @groups %>
    </div>
  </div>
</div>
